
body {
    background-color: black;
    font-family: monospace;
    color: green;
  }
  .pink-text{
    color:blue;
  }
  #orange-text{
    color:orange;
  }
p{
    color: blue;
    font-size:16px;;
}
.red-text {
    color: red;
    font-family:lobster, monospace;
}
.smaller-image {
    width: 100px;
  }
  .thick-green-border {
  border-color: green;
    border-width: 10px;
    border-style: solid;
    border-radius: 50%;
  }
  .silver-background{
    background-color:silver;
  }
  #cat-photo-form{
    background-color:green;
  }
  .injected-text {
    margin-bottom: -25px;
    text-align: center;
  }

  .box {
    border-style: solid;
    border-color: black;
    border-width: 5px;
    text-align: center;
  }

  .yellow-box {
    background-color: yellow;
    padding: 10px;
  }

  .red-box {
    background-color: crimson;
    color: #fff;
    margin: 20px 40px 20px 40px;
    padding:1.5em;
  }

  .blue-box {
    background-color: blue;
    color: #fff;
    margin:40px 20px 20px 40px;
  }
  [type='checkbox']{
    margin-top:10px;
    margin-bottom:15px;
  }